.button {
  background: none; /* Green */
  border: 2px solid white;
  color: white;
  text-decoration: none;
  display: inline-block;
}

.a {
  text-align: center;
  outline: none;
  text-decoration: none;
}

.a:focus {
  outline: none;
  text-decoration: none;
}

.a:active {
  outline: none;
  text-decoration: none;
}

@media only screen and (max-width: 480px) {
  .button {
    background: none; /* Green */
    border: 1px solid white;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
}
