body {
  background: #20252c;
  color: white;
  font-family: consolas, "Courier New", monospace;
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}

button:hover {
  cursor: pointer;
}

.purple {
  color: #bf77e2;
}

.yellow-hooks {
  color: #ffd600;
}

.white {
  color: white;
}

.class {
  color: #ebc06f;
}

.new {
  color: #f06372;
}
