.code-lines {
  width: max-content;
}

.code-lines:hover {
  cursor: pointer;
}

.number {
  font-size: 30px;
  color: #5c6471;
  border-right: 0.5px solid #ffd600;
  padding-right: 5px;
}

@media only screen and (max-width: 1380px) {
  .code-lines {
    display: none;
  }
}
